* {
    font-family: "JetBrains Mono", "Blobs", "Blobmoji";
    color: #454545;
    font-size: 1rem;
}

html {
    font-size: 16px;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.numberInput {
    width: 32px;
    text-align: center;
}

#stageCounter, #randlevel, #demnumb, #relateval {
    display: none;
}

h1 {
    font-size: 3rem;
    color: #0C090A;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
    color: #0C090A;
}

b {
    color: #862D2D;
}

p {
    line-height: 2rem;
    margin: 1rem 0;
}

footer {
    margin: 2rem 0;
}

.not-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.not-list li {
    float: left;
    margin-right: 1rem;
}

.not-list + p {
    clear: left;
    padding-top: 1rem;
}

li {
    line-height: 2rem;
}

@media screen and (max-width: 616px) {
    #wrapper {
        margin: 0 1rem;
    }

    h1 {
        text-align: left;
    }

    .not-list li {
        float: none;
    }

    .not-list + p {
        padding-top: 0;
    }

    .minor-header {
        width: 100%;
        display: block;
    }
}